@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">

    <header>
        <NavBarComponent />
    </header>


    <main class="">
        @Body
    </main>

    <footer>
        @*<FooterComponent />*@
    </footer>

</div>
