@using Microsoft.AspNetCore.Components

<div class="@htmlClass" @ref="modalElement" tabindex="-1" role="dialog" style="display:@display">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header m-3">
                <h5 class="modal-title">@Title</h5>
@*                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
 *@            </div>
            <div class="modal-body m-3">
                @ChildContent
            </div>
            <div class="modal-footer m-3">
                @FooterContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public string Title { get; set; }
    [Parameter] 
    public RenderFragment ChildContent { get; set; }
    [Parameter] 
    public RenderFragment FooterContent { get; set; }

	public string display = "none";
    public string htmlClass = "modal fade";

    private ElementReference modalElement;

    public void Open()
    {
		display = "block"; 
        htmlClass = "modal fade show ";
    }

    public void Close()
    {
        display = "none";
        htmlClass = "modal modal-fullscreen fade ";

    }
}